* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body,
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header,
main {
    border: 2px solid black;
    width: 600px;
}
