* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body {
    background: #272757;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

body,
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header,
main,
footer {
    border: 2px solid black;
    width: 100vw;
    z-index: 3;
}

header h1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: -25px;
}

a {
    color: pink;
}

a:hover {
    color: red;
}

a:active,
a:focus {
    border: 2px solid white;
    border-radius: 5px;
}



.star-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (min-width: 768px) {
    header,
    main,
    footer {
        width: 600px;
    }
    
    main,
    footer {
        padding: 10px;
    }
}