:root {
    --base-color: #FFFFFF;
    --base-variant: #A8B0F9;
    --text-color: #413C3C;
    --secondary-text: #212529;
    --primary-color: #81B29A;
    --accent-color: #E07A5F;
}
.darkmode {
    --base-color: #171C28;
    --base-variant: #525893;
    --text-color: #ECE6E2;
    --secondary-text: #FFFFFF;
    --primary-color: #81B29A;
    --accent-color: #E07A5F;
}
#theme-switch {
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 40%;
    border-color: var(--secondary-text);
    border-style: solid;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg {
   fill: var(--base-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
#theme-switch-div {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40%;
}
#theme-switch-div:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
body {
    font-family: "Rubik", sans-serif;
    background: var(--base-color);
    color: var(--text-color);
    transition: background 0.4s ease;
}
header {
    font-family: "Roboto Mono", sans-serif;
    background: var(--base-variant);
    display: flex;
    flex-flow: row wrap;
    vertical-align: center;
    align-items: center;
    transition: background 0.4s ease;
    padding: 0 20px 0;
}
header h1 {
    width: 80%;
}
.page-link {
    color: var(--secondary-text);
}
.page-link:hover {
    background-color: var(--accent-color);
}
.page-link:not([href]):hover {
    background-color: var(--base-variant);
    cursor: default;
}
#desktop-page-links {
    display: none;
}
#mobile-page-links {
    display: block;
}
main {
    padding: 0 10px 0;
}

@media (min-width: 600px) {
    #desktop-page-links {
        display: block;
        padding-right: 40px;
    }
    #mobile-page-links {
        display: none;
    }
    header h1 {
        width: auto;
        padding-right: 40px;
    }
}
