* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

body {
    background: #272757;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

body,
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header,
main,
footer {
    border: 2px solid black;
    width: 100%;
    z-index: 3;
}

main,
footer {
    padding: 10px;
    font-size: 125%;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -25px;
}

header p a {
    font-size: 1.3rem;
}

header h1 img {
    width: 20%;
}

a {
    color: pink;
}

a:hover {
    color: red;
}

a:active,
a:focus {
    border: 2px solid white;
    border-radius: 5px;
}

.star-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (min-width: 768px) {
    html {
        font-size: 100%;
    }

    header,
    main,
    footer {
        width: 700px;
        font-size: 140%;
    }
}